<div class="card">

    <div class="card-header">

        <h2> Create a new post. </h2>

    </div>
<div class="mb-3">
  <label for="postTitle" class="form-label">Title</label>
  <input type="text" class="form-input" name="postTitle">
</div>

<div class="mb-3">
  <label for="postBody" class="form-label">Content</label>
  <textarea type="text" class="form-input" name="postBody"></textarea>


  <button class="btn btn-primary" id="createPostBtn" type="submit">Create</button>
  
</div>


</div>


<script src="/js/new.js"></script>
